@{
    ViewBag.Title = "AssignRole";
}
@using (Html.BeginForm("AssignRole", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            <!-- BEGIN PAGE HEAD-->
            <!-- END PAGE HEAD-->
            <!-- BEGIN PAGE BREADCRUMB -->
            <!-- Contact Form -->
            <div class="note note-success">
                <h3>Assign User to Roles</h3>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN VALIDATION STATES-->
                    <div class="portlet light portlet-fit portlet-form bordered">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class=" icon-layers font-green"></i>
                                <span class="caption-subject font-green sbold uppercase">Assign Roles</span>
                            </div>
                            @if (TempData["UserExist"] != null)
                            {
                                <span class="custom-alerts alert alert-success fade in" id="flash-msg">
                                    <i class="fa-lg fa fa-users"></i>
                                    @TempData["UserExist"]
                                </span>
                            }

                            <div class="portlet-body">

                                <div class="form-horizontal">

                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <label class="control-label col-md-2">Select User</label>
                                        <div class="col-md-10">
                                            @Html.DropDownList("UserName", (IEnumerable<SelectListItem>)ViewBag.Users,  "Select User...", new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-2">Select Role</label>
                                        <div class="col-md-10">
                                            @Html.DropDownList("RoleName", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select Role...", new { @class = "form-control" })
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Assign User" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>



            </div>
        </div>

    </div>
}